body{
    background-color: rgb(5, 5, 87);
}
#nafbar{
    background-color: white;
    width: 100%;
}
#main1{
    background-color: white;
    margin-top: 65px;
    margin-left: 1%;
    width: 98%;
    padding-bottom: 2%;
}
#main1 a #btnphon{
    width: 95%;
    height: 45px;
    background-color: black;
    border-radius: 3px;
    margin-top: 1%;
    color: white;
    cursor: pointer;
    font-size: x-large;
}
#main1 a #btnphon:hover{
    background-color: brown;
}
#main1 #p1{
    margin-right: 5%;
    margin-top: 0.5%;
    margin-bottom: 0%;
    font-size: large;
}
#main1 #p2{
    float: right;
    margin-right: 15%;
    margin-top: 0.5%;
    margin-bottom: 0%;
    font-size: large;
}
#main2{
    background-color: white;
    margin-top: 65px;
    margin-left: 1%;
    width: 98%;
}
#main2 h2{
    font-size: xxx-large;
}
#main2 #p3{
    font-size: x-large;
}
#main2 #im{
    float: right;
    margin-left: 5%;
    margin-bottom: 1px;
    margin-top: 3px;
}
#main2 #h22{
    margin-top: 200px;
}
#main2 #main2_p{
    margin: 5%;
}
#main2 #main2_p p{
    font-size: larger;
}    
#wat img {
    position: fixed;
    width: 15%;
    border-radius: 45%;
    bottom: 5%;
    left: 7%;
}

#pho img {
    position: fixed;
    width: 15%;
    border-radius: 45%;
    right: 7%;
    bottom: 5%;
}
